apiVersion: batch/v1
kind: Job
metadata:
  name: {{ CORE_JOBNAME }}
  namespace: {{ NAMESPACE }}
spec:
  template:
    spec:
      restartPolicy: OnFailure
      nodeSelector:
        kubernetes.io/hostname: {{ HOSTNAME }}
      hostNetwork: true
      hostPID: true
      serviceAccountName: simplyblock-storage-node-sa
      tolerations:
        - effect: NoSchedule
          operator: Exists
        - effect: NoExecute
          operator: Exists
      volumes:
        - name: var-simplyblock
          hostPath:
            path: /var/simplyblock
      containers:
        - name: init-setup
          image: alpine/kubectl:1.34.1
          securityContext:
            privileged: true
          volumeMounts:
            - name: var-simplyblock
              mountPath: /var/simplyblock
          command: ["/bin/sh", "-c"]
          args:
            - |
              set -e
              MARKER="/var/simplyblock/.cpu_topology_applied"
              if [[ -f "$MARKER" ]]; then
                  echo "[INFO] Node already configured. Skipping sleep and exiting..."
                  exit 0
              fi

              SHORT_ID=$(echo "{{ HOSTNAME }}" | rev | cut -d'-' -f1 | rev)
              # Create the Machine config pool
              cat <<EOF | kubectl apply -f -
              apiVersion: machineconfiguration.openshift.io/v1
              kind: MachineConfigPool
              metadata:
                name: storage-$SHORT_ID
                labels:
                  custom-kubelet: cpumanager-enabled-$SHORT_ID
              spec:
                machineConfigSelector:
                  matchExpressions:
                    - key: machineconfiguration.openshift.io/role
                      operator: In
                      values:
                        - worker
                        - storage-$SHORT_ID
                nodeSelector:
                  matchLabels:
                    kubernetes.io/hostname: {{ HOSTNAME }}
              EOF

              # Create the Machine config
              cat <<EOF | kubectl apply -f -
              apiVersion: machineconfiguration.openshift.io/v1
              kind: MachineConfig
              metadata:
                name: 00-storage-$SHORT_ID
                labels:
                  machineconfiguration.openshift.io/role: storage-$SHORT_ID
              spec:
                config:
                  ignition:
                    version: 3.2.0
              EOF

              # Create the KubeletConfig to enable static CPU manager
              cat <<EOF | kubectl apply -f -
              apiVersion: machineconfiguration.openshift.io/v1
              kind: KubeletConfig
              metadata:
                name: kubelet-storage-$SHORT_ID
              spec:
                machineConfigPoolSelector:
                  matchLabels:
                    custom-kubelet: cpumanager-enabled-$SHORT_ID
                kubeletConfig:
                  cpuManagerPolicy: static
                  cpuManagerReconcilePeriod: 5s
                  topologyManagerPolicy: single-numa-node
                  reservedSystemCPUs: "0,1"
              EOF

              echo "[INFO] Marking node as configured."
              touch "$MARKER"

              echo "[INFO] Node is updating the kubeletconfig"
              sleep 300