/.idea/
*.pyc
e2e/logs/*.log!
.DS_Store
*.log
.python-version

# Ignore generated sbcli files
sbcli*
build
dist

.ruff_cache
.env
.tox

# Helm packaged charts
simplyblock_core/scripts/charts/charts/

# Helm dependency lock file
simplyblock_core/scripts/charts/requirements.lock
