---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: storagenodes.simplyblock.simplyblock.io
spec:
  group: simplyblock.simplyblock.io
  names:
    kind: StorageNode
    listKind: StorageNodeList
    plural: storagenodes
    singular: storagenode
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: StorageNode is the Schema for the storagenodes API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of StorageNode
            properties:
              addPcieToAllowList:
                description: restart params
                items:
                  type: string
                type: array
              clusterImage:
                type: string
              clusterName:
                type: string
              coreIsolation:
                type: boolean
              coreMask:
                type: string
              corePercentage:
                format: int32
                type: integer
              dataNIC:
                items:
                  type: string
                type: array
              driveSizeRange:
                type: string
              force:
                type: boolean
              fullPageUnmap:
                type: boolean
              haJM:
                type: boolean
              haJmCount:
                format: int32
                type: integer
              includeStats:
                type: boolean
              jmPercent:
                format: int32
                type: integer
              maxLVol:
                format: int32
                type: integer
              maxSize:
                type: string
              maxSnapshots:
                format: int32
                type: integer
              mgmtIfc:
                type: string
              nodeAddr:
                type: string
              nodesPerSocket:
                format: int32
                type: integer
              openShiftCluster:
                type: boolean
              partitions:
                format: int32
                type: integer
              pcieAllowList:
                items:
                  type: string
                type: array
              pcieDenyList:
                items:
                  type: string
                type: array
              pcieModel:
                type: string
              socketsToUse:
                format: int32
                type: integer
              spdkDebug:
                type: boolean
              spdkImage:
                type: string
              statsHistoryInSeconds:
                format: int32
                type: integer
              testDevice:
                type: boolean
              useSeparateJournalDevice:
                type: boolean
              workerNodes:
                items:
                  type: string
                type: array
            required:
            - clusterImage
            - clusterName
            - maxLVol
            - workerNodes
            type: object
          status:
            description: status defines the observed state of StorageNode
            properties:
              nodes:
                items:
                  properties:
                    health:
                      type: string
                    hostname:
                      type: string
                    mgmtIp:
                      type: string
                    state:
                      type: string
                    uptime:
                      description: "\tDevices  *DeviceInfo   `json:\"devices,omitempty\"`\n\tCapacity
                        *CapacityInfo `json:\"capacity,omitempty\"`"
                      type: string
                    uuid:
                      type: string
                  type: object
                type: array
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
