---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: simplyblock-admin-control
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simplyblock-admin-control
  template:
    metadata:
      annotations:
        log-collector/enabled: "true"
        reloader.stakater.com/auto: "true"
        reloader.stakater.com/configmap: "simplyblock-fdb-cluster-config"
      labels:
        app: simplyblock-admin-control
    spec:
      serviceAccountName: simplyblock-control-sa
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet 
      containers:
      - name: simplyblock-control
        image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
        imagePullPolicy: "{{ .Values.image.simplyblock.pullPolicy }}"
        command: ["/bin/bash", "-c", "trap : TERM INT; sleep infinity & wait"]
        env:
        - name: LVOL_NVMF_PORT_START
          value: "{{ .Values.ports.lvolNvmfPortStart }}"
        - name: K8S_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
{{- if .Values.monitoring.enabled }}
        - name: MONITORING_SECRET
          valueFrom:
            secretKeyRef:
              name: simplyblock-grafana-secrets
              key: MONITORING_SECRET
{{- end }}
        - name: SIMPLYBLOCK_LOG_LEVEL
          valueFrom:
            configMapKeyRef:
              name: simplyblock-config
              key: LOG_LEVEL
        volumeMounts:
        - name: fdb-cluster-file
          mountPath: /etc/foundationdb/fdb.cluster
          subPath: fdb.cluster
        resources:
          requests:
            cpu: "200m"
            memory: "256Mi"
          limits:
            cpu: "600m"
            memory: "1Gi"
      volumes:
      - name: fdb-cluster-file
        configMap:
          name: simplyblock-fdb-cluster-config
          items:
            - key: cluster-file
              path: fdb.cluster
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: simplyblock-webappapi
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: simplyblock-webappapi
  template:
    metadata:
      annotations:
        log-collector/enabled: "true"
        reloader.stakater.com/auto: "true"
        reloader.stakater.com/configmap: "simplyblock-fdb-cluster-config"
      labels:
        app: simplyblock-webappapi
    spec:
      serviceAccountName: simplyblock-control-sa
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app: simplyblock-admin-control
              topologyKey: kubernetes.io/hostname       
      containers:
      - name: webappapi
        image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
        imagePullPolicy: "{{ .Values.image.simplyblock.pullPolicy }}"
        ports:
        - containerPort: 5000
        command: ["python", "simplyblock_web/app.py"]
        env:
        - name: SIMPLYBLOCK_LOG_LEVEL
          valueFrom:
            configMapKeyRef:
              name: simplyblock-config
              key: LOG_LEVEL
        - name: LVOL_NVMF_PORT_START
          value: "{{ .Values.ports.lvolNvmfPortStart }}"
        - name: ENABLE_MONITORING
          value: "{{ .Values.monitoring.enabled }}"
        - name: K8S_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
{{- if .Values.monitoring.enabled }}
        - name: MONITORING_SECRET
          valueFrom:
            secretKeyRef:
              name: simplyblock-grafana-secrets
              key: MONITORING_SECRET
{{- end }}
        - name: FLASK_DEBUG
          value: "False"
        - name: FLASK_ENV
          value: "production"
        volumeMounts:
        - name: fdb-cluster-file
          mountPath: /etc/foundationdb/fdb.cluster
          subPath: fdb.cluster
        resources:
          requests:
            cpu: "200m"
            memory: "512Mi"
          limits:
            cpu: "500m"
            memory: "2Gi"
      volumes:
      - name: fdb-cluster-file
        configMap:
          name: simplyblock-fdb-cluster-config
          items:
            - key: cluster-file
              path: fdb.cluster
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: simplyblock-monitoring
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simplyblock-monitoring
  template:
    metadata:
      annotations:
        log-collector/enabled: "true"
        reloader.stakater.com/auto: "true"
        reloader.stakater.com/configmap: "simplyblock-fdb-cluster-config"
      labels:
        app: simplyblock-monitoring
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: storage-node-monitor
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/storage_node_monitor.py"]
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
          env:
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}

        - name: mgmt-node-monitor
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/mgmt_node_monitor.py"]
          env:
            - name: BACKEND_TYPE
              value: "k8s"
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}

        - name: lvol-stats-collector
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/lvol_stat_collector.py"]
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
          env:
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}

        - name: main-distr-event-collector
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/main_distr_event_collector.py"]
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
          env:
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}

        - name: capacity-and-stats-collector
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/capacity_and_stats_collector.py"]
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
          env:
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}

        - name: capacity-monitor
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/cap_monitor.py"]
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
          env:
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}

        - name: health-check
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/health_check_service.py"]
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
          env:
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}

        - name: device-monitor
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/device_monitor.py"]
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
          env:
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}

        - name: lvol-monitor
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/lvol_monitor.py"]
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
          env:
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}

        - name: snapshot-monitor
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/snapshot_monitor.py"]
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
          env:
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}
        - name: fluent-bit
          image: fluent/fluent-bit:1.8.11
          volumeMounts:
            - name: varlog
              mountPath: /var/log
            - name: config
              mountPath: /fluent-bit/etc/
          resources:
            requests:
              cpu: "100m"
              memory: "200Mi"
            limits:
              cpu: "200m"
              memory: "400Mi"

      volumes:
        - name: fdb-cluster-file
          configMap:
            name: simplyblock-fdb-cluster-config
            items:
              - key: cluster-file
                path: fdb.cluster
        - name: varlog
          hostPath:
            path: /var/log
        - name: config
          configMap:
            name: simplyblock-fluent-bit-config
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: simplyblock-tasks
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simplyblock-tasks
  template:
    metadata:
      annotations:
        log-collector/enabled: "true"
        reloader.stakater.com/auto: "true"
        reloader.stakater.com/configmap: "simplyblock-fdb-cluster-config"
      labels:
        app: simplyblock-tasks
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: tasks-node-add-runner
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/tasks_runner_node_add.py"]
          env:
            - name: LVOL_NVMF_PORT_START
              value: "{{ .Values.ports.lvolNvmfPortStart }}"
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}

        - name: tasks-runner-restart
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/tasks_runner_restart.py"]
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
          env:
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}

        - name: tasks-runner-migration
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/tasks_runner_migration.py"]
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
          env:
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}

        - name: tasks-runner-failed-migration
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/tasks_runner_failed_migration.py"]
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
          env:
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}

        - name: tasks-runner-cluster-status
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/tasks_cluster_status.py"]
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
          env:
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}

        - name: tasks-runner-new-device-migration
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/tasks_runner_new_dev_migration.py"]
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
          env:
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}

        - name: tasks-runner-port-allow
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/tasks_runner_port_allow.py"]
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
          env:
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}

        - name: tasks-runner-jc-comp-resume
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/tasks_runner_jc_comp.py"]
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
          env:
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}

        - name: tasks-runner-sync-lvol-del
          image: "{{ .Values.image.simplyblock.repository }}:{{ .Values.image.simplyblock.tag }}"
          command: ["python", "simplyblock_core/services/tasks_runner_sync_lvol_del.py"]
{{- with (include "simplyblock.commonContainer" . | fromYaml) }}
          env:
{{ toYaml .env | nindent 12 }}
          volumeMounts:
{{ toYaml .volumeMounts | nindent 12 }}
          resources:
{{ toYaml .resources | nindent 12 }}
{{- end }}
        - name: fluent-bit
          image: fluent/fluent-bit:1.8.11
          volumeMounts:
            - name: varlog
              mountPath: /var/log
            - name: config
              mountPath: /fluent-bit/etc/
          resources:
            requests:
              cpu: "100m"
              memory: "200Mi"
            limits:
              cpu: "200m"
              memory: "400Mi"

      volumes:
        - name: fdb-cluster-file
          configMap:
            name: simplyblock-fdb-cluster-config
            items:
              - key: cluster-file
                path: fdb.cluster
        - name: varlog
          hostPath:
            path: /var/log
        - name: config
          configMap:
            name: simplyblock-fluent-bit-config
