{{- if .Values.observability.enabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: simplyblock-graylog
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simplyblock-graylog
  template:
    metadata:
      labels:
        app: simplyblock-graylog
    spec:      
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1100
        supplementalGroups:
          - 0 
      containers:
        - name: graylog
          image: graylog/graylog:5.0
          command: ["/usr/bin/tini", "--"]
          args: ["wait-for-it", "opensearch-cluster-master:9200", "--", "/docker-entrypoint.sh"]
          env:
            - name: GRAYLOG_NODE_ID_FILE
              value: "/usr/share/graylog/data/config/node-id"
            - name: GRAYLOG_PASSWORD_SECRET
              valueFrom:
                secretKeyRef:
                  name: simplyblock-graylog-secret
                  key: GRAYLOG_PASSWORD_SECRET
            - name: GRAYLOG_ROOT_PASSWORD_SHA2
              valueFrom:
                secretKeyRef:
                  name: simplyblock-graylog-secret
                  key: GRAYLOG_ROOT_PASSWORD_SHA2
            - name: GRAYLOG_HTTP_BIND_ADDRESS
              value: "0.0.0.0:9000"
            - name: GRAYLOG_HTTP_EXTERNAL_URI
              value: "http://localhost/graylog/"
            - name: GRAYLOG_ELASTICSEARCH_HOSTS
              value: "http://opensearch-cluster-master:9200"
            - name: GRAYLOG_MONGODB_URI
              value: "mongodb://admin:{{ .Values.observability.secret }}@simplyblock-mongo-svc:27017/graylog"
            - name: GRAYLOG_SKIP_PREFLIGHT_CHECKS
              value: "true"
            - name: GRAYLOG_ROTATION_STRATEGY
              value: "time"
            - name: GRAYLOG_RETENTION_STRATEGY
              value: "delete"
            - name: GRAYLOG_ELASTICSEARCH_MAX_NUMBER_OF_INDICES
              valueFrom:
                secretKeyRef:
                  name: simplyblock-graylog-secret
                  key: MAX_NUMBER_OF_INDICES
            - name: GRAYLOG_ELASTICSEARCH_MAX_TIME_PER_INDEX
              value: "1d"
            - name: GRAYLOG_RING_SIZE
              value: "4096"
            - name: GRAYLOG_INPUTBUFFER_RING_SIZE
              value: "8192"
            - name: GRAYLOG_VERSIONCHECKS
              value: "false"
            - name: GRAYLOG_ELASTICSEARCH_REPLICAS
              value: "1"
            - name: GRAYLOG_MESSAGE_JOURNAL_MAX_SIZE
              value: "10gb"
          ports:
            - containerPort: 5044
            - containerPort: 5140
              protocol: UDP
            - containerPort: 5140
            - containerPort: 5555
            - containerPort: 5555
              protocol: UDP
            - containerPort: 12201
            - containerPort: 12201
              protocol: UDP
            - containerPort: 13301
            - containerPort: 13302
          volumeMounts:
            - mountPath: /usr/share/graylog/data/data
              name: simplyblock-graylog-data
            - mountPath: /usr/share/graylog/data/journal
              name: simplyblock-graylog-journal
          resources:
            requests:
              cpu: "100m"
              memory: "512Mi"
            limits:
              cpu: "400m"
              memory: "2Gi"
      volumes:
        - name: simplyblock-graylog-data
          emptyDir: {}
        - name: simplyblock-graylog-journal
          emptyDir: {}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: simplyblock-thanos
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simplyblock-thanos
  template:
    metadata:
      labels:
        app: simplyblock-thanos
    spec:
      containers:
        - name: thanos-store
          image: thanosio/thanos:v0.31.0
          args:
            - store
            - --grpc-address=0.0.0.0:10901
            - --http-address=0.0.0.0:10902
            - --objstore.config-file=/etc/thanos/objstore.yml
            - --index-cache-size=500MB
            - --chunk-pool-size=500MB
          ports:
            - name: grpc
              containerPort: 10901
            - name: http
              containerPort: 10902
          volumeMounts:
            - name: objstore-config
              mountPath: /etc/thanos
            - name: data
              mountPath: /data
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "250m"
              memory: "1Gi"

        - name: thanos-query
          image: thanosio/thanos:v0.31.0
          args:
            - query
            - --grpc-address=0.0.0.0:10911
            - --http-address=0.0.0.0:9091
            - --store=simplyblock-thanos:10901
            - --store=simplyblock-prometheus:10901
          ports:
            - containerPort: 9091
              name: http
            - containerPort: 10911
              name: grpc
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "250m"
              memory: "1Gi"

        - name: thanos-compactor
          image: thanosio/thanos:v0.31.0
          args:
            - compact
            - --http-address=0.0.0.0:10922
            - --data-dir=/data
            - --objstore.config-file=/etc/thanos/objstore.yml
            - --retention.resolution-raw=30d
            - --retention.resolution-5m=60d
            - --retention.resolution-1h=90d
            - --compact.concurrency=1
            - --wait
          ports:
            - containerPort: 10922
              name: http
          volumeMounts:
            - name: objstore-config
              mountPath: /etc/thanos
            - name: data
              mountPath: /data
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "250m"
              memory: "1Gi"

      volumes:
        - name: objstore-config
          configMap:
            name: simplyblock-objstore-config

        - name: data
          emptyDir: {}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: simplyblock-grafana
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simplyblock-grafana
  template:
    metadata:
      labels:
        app: simplyblock-grafana
    spec:      
      securityContext:
        fsGroup: 472
        supplementalGroups:
          - 0
      containers:
        - name: grafana
          image: grafana/grafana:10.0.12
          env:
            - name: GF_SECURITY_ADMIN_USER
              value: "admin"
            - name: GF_SECURITY_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: simplyblock-grafana-secrets
                  key: MONITORING_SECRET
            - name: GF_ALERTING_ENABLED
              value: "true"
            - name: GF_PATHS_PROVISIONING
              value: "/etc/grafana/provisioning"
            - name: GF_INSTALL_PLUGINS
              value: "grafana-opensearch-datasource"
            - name: GF_SERVER_ROOT_URL
              value: "http://localhost/grafana"
          volumeMounts:
            - name: datasource-config
              mountPath: /etc/grafana/provisioning/datasources
            - name: alerting-config
              mountPath: /etc/grafana/provisioning/alerting
            - name: dashboard-config
              mountPath: /etc/grafana/provisioning/dashboards
            - name: dashboard-cluster
              mountPath: /var/lib/grafana/dashboards/cluster.json
              subPath: cluster.json
            - name: dashboard-devices
              mountPath: /var/lib/grafana/dashboards/devices.json
              subPath: devices.json
            - name: dashboard-lvols
              mountPath: /var/lib/grafana/dashboards/lvols.json
              subPath: lvols.json
            - name: dashboard-nodes
              mountPath: /var/lib/grafana/dashboards/nodes.json
              subPath: nodes.json
            - name: dashboard-pools
              mountPath: /var/lib/grafana/dashboards/pools.json
              subPath: pools.json
            - name: grafana-data
              mountPath: /var/lib/grafana
      volumes:
        - name: datasource-config
          configMap:
            name: simplyblock-grafana-datasource
        - name: alerting-config
          configMap:
            name: simplyblock-grafana-alerting
        - name: dashboard-config
          configMap:
            name: simplyblock-grafana-dashboard-config
        - name: dashboard-cluster
          configMap:
            name: simplyblock-grafana-dashboard-cluster
        - name: dashboard-devices
          configMap:
            name: simplyblock-grafana-dashboard-devices
        - name: dashboard-lvols
          configMap:
            name: simplyblock-grafana-dashboard-lvols
        - name: dashboard-nodes
          configMap:
            name: simplyblock-grafana-dashboard-nodes
        - name: dashboard-pools
          configMap:
            name: simplyblock-grafana-dashboard-pools
        - name: grafana-data
          emptyDir: {}
{{- end }}
