apiVersion: v1
kind: Pod
metadata:
  name: {{ pod_name }}
  namespace: {{ namespace }}
  labels:
    app: simplyblock-edge-spdk
spec:
  hostNetwork: true
  nodeSelector:
    kubernetes.io/hostname: {{ hostname }}
  restartPolicy: Always
  containers:
    - name: spdk-container
      image: {{ spdk_image }}
      imagePullPolicy: IfNotPresent
      securityContext:
        privileged: true
      env:
        - name: RPC_PORT
          value: "{{ rpc_port }}"
      resources:
        requests:
          cpu: "{{ cpu }}"
          memory: 2Gi
          hugepages-2Mi: {{ hugepages_mib }}Mi
        limits:
          cpu: "{{ cpu }}"
          hugepages-2Mi: {{ hugepages_mib }}Mi
      volumeMounts:
        - name: dev
          mountPath: /dev
        - name: hugepages
          mountPath: /dev/hugepages
        - name: shm
          mountPath: /dev/shm
    - name: spdk-proxy-container
      image: {{ proxy_image }}
      imagePullPolicy: IfNotPresent
      env:
        - name: RPC_PORT
          value: "{{ rpc_port }}"
        - name: RPC_USERNAME
          value: "{{ rpc_username }}"
        - name: RPC_PASSWORD
          value: "{{ rpc_password }}"
      volumeMounts:
        - name: shm
          mountPath: /dev/shm
  volumes:
    - name: dev
      hostPath:
        path: /dev
    - name: hugepages
      emptyDir:
        medium: HugePages
    - name: shm
      emptyDir:
        medium: Memory
